.jumbotron.header {
    background-image: url('./images/header-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    padding: 5px;
    margin: 0px;
}

.jumbotron.header .row {
    width: 100%;
}

.header-desc {
    margin-top: 130px;
    text-align: center;
}

.header-desc h1 {
    color: white;
    font-size: 48px;
    font-weight: bolder;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
    font-family: 'helvetica', 'arial', 'sans serif';
}

.header-desc p {
    color: white;
    font-size: 20px;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
    font-family: 'helvetica', 'arial', 'sans serif';
}

.jumbotron .container {
    margin: 5px;
    position: relative;
    top: 5px;
    width: 100%;
}

.content {
    height: auto;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content .container {
    width: 100%;
    height: 100%;
}

.content .desc h1 {
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    color: #333333;
    font-size: 36px;
    font-weight: 300;
}

.content .desc p {
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    width: 100%;
}

.content .button-container {
    margin-top: 20px;
    text-align: center;
}

.content .button-container .btn {
    position: relative;
    left: -10px;
}

.desc-labels {
    margin-top: 25px;
}

.desc-labels .label {
    font-size: 14px;
    font-weight: 300;
    background-color: white;
    color: #666666;
    border: 1px solid #666666;
    margin-bottom: 5px;
    display: inline-block;
}

.separator {
    height: 3px;
    width: 100px;
    background-color: #6FC100;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.content .thumbnail {
    border: 0 none;
    box-shadow: none;
    margin: 0 auto;
}

.features {
    height: auto;
    width: 70%;
    margin: 0 auto;
    background-image: url('./images/diamond_upholstery.png');
    background-repeat: repeat;
}

.features .container {
    width: 100%;
    height: 100%;
}

.features .thumbnail {
    padding: 0;
    margin: 30px;
}

.features .thumbnail img {
    background-color: #BAE8F7;
    margin: 0;
    width: 100%;
}

.features .thumbnail p {
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.features-background {
    background-image: url('./images/diamond_upholstery.png');
    background-repeat: repeat;
    height: auto;
    width: 100%;
}

.footer-overlay{
    background-color: black;
    opacity: 0.5;

}

.jumbotron.footer {
    background-image: url('./images/playing-guitar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    padding: 5px;
    margin: 0px;
    margin-top: 50px;
}

.footer-desc {
    margin-top: 200px;
    text-align: center;
}

.footer-desc h1 {
    color: white;
    font-size: 48px;
    font-weight: bolder;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
    font-family: 'helvetica', 'arial', 'sans serif';
}

.footer-desc p {
    color: white;
    font-size: 20px;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
    font-family: 'helvetica', 'arial', 'sans serif';
}

.jumbotron .container {
    margin: 5px;
    position: relative;
    top: 5px;
    width: 100%;
}

.footer-pattern{
    background-image: url('./images/escheresque_ste.png');
    background-repeat: repeat;
    width:100%;
    height: 250px;
}

.footer-pattern img{
    margin: 50px;
}